In [2]:
import pandas as pd

In [3]:
dataset_train = pd.read_csv("dataset/train.csv")

/Users/ivan.bragin/projects/raif/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dataset_train.price_type.value_counts()

0    275299
1      4493
Name: price_type, dtype: int64

In [5]:
dataset_train.date.value_counts()

2020-06-14    11047
2020-06-07    11003
2020-01-12    10678
2020-01-19    10628
2020-07-26    10565
2020-02-23    10182
2020-01-26     9919
2020-02-09     9849
2020-08-23     9780
2020-05-24     9467
2020-03-08     9427
2020-06-21     9238
2020-07-12     8858
2020-07-19     8741
2020-02-16     8590
2020-08-16     8471
2020-03-01     8261
2020-02-02     8028
2020-07-05     7981
2020-05-17     7931
2020-06-28     7780
2020-08-09     7593
2020-04-12     7537
2020-03-15     7416
2020-03-22     6971
2020-08-02     6939
2020-04-26     6871
2020-04-19     6868
2020-04-05     6424
2020-05-31     6369
2020-05-10     5796
2020-03-29     5553
2020-05-03     5375
2020-01-05     3656
Name: date, dtype: int64

##### dataset_test = pd.read_csv("dataset/test.csv")

In [6]:
dataset_test.date.value_counts()

NameError: name 'dataset_test' is not defined

In [ ]:
dataset_train.price_type.value_counts()

In [7]:
dataset_train.city.value_counts()[:10]

Москва             55996
Санкт-Петербург    18906
Краснодар          13009
Екатеринбург        8580
Новосибирск         6753
Челябинск           6201
Самара              6147
Казань              6033
Тюмень              5861
Уфа                 4931
Name: city, dtype: int64

In [8]:
len(dataset_train.city.value_counts()), len(dataset_test.city.value_counts())

NameError: name 'dataset_test' is not defined

In [9]:
dataset_train.head()

,city,floor,id,lat,lng,osm_amenity_points_in_0.001,osm_amenity_points_in_0.005,osm_amenity_points_in_0.0075,osm_amenity_points_in_0.01,osm_building_points_in_0.001,...,reform_mean_floor_count_1000,reform_mean_floor_count_500,reform_mean_year_building_1000,reform_mean_year_building_500,region,total_square,street,date,realty_type,price_type
0,Пермь,NaN,COL_0,57.998207,56.292797,4,19,35,52,0,...,5.762963,5.530612,1964.118519,1960.959184,Пермский край,32.0,S27289,2020-01-05,10,0
1,Шатура,NaN,COL_1,55.574284,39.543835,3,24,37,59,0,...,2.894366,3.527778,1952.321678,1957.222222,Московская область,280.0,S17052,2020-01-05,10,0
2,Ярославль,NaN,COL_2,57.619140,39.850525,1,30,67,128,0,...,6.141414,7.222222,1968.150000,1973.370370,Ярославская область,297.4,S16913,2020-01-05,110,0
3,Новокузнецк,NaN,COL_3,53.897083,87.108604,0,0,5,21,0,...,8.581081,9.000000,1992.716216,2014.000000,Кемеровская область,190.0,S10148,2020-01-05,110,0
4,Москва,NaN,COL_4,55.802590,37.487110,1,23,64,153,0,...,7.263889,5.684211,1963.229167,1960.500000,Москва,60.2,S1338,2020-01-05,10,0

In [10]:
dataset_train.columns

Index(['city', 'floor', 'id', 'lat', 'lng', 'osm_amenity_points_in_0.001',
       'osm_amenity_points_in_0.005', 'osm_amenity_points_in_0.0075',
       'osm_amenity_points_in_0.01', 'osm_building_points_in_0.001',
       'osm_building_points_in_0.005', 'osm_building_points_in_0.0075',
       'osm_building_points_in_0.01', 'osm_catering_points_in_0.001',
       'osm_catering_points_in_0.005', 'osm_catering_points_in_0.0075',
       'osm_catering_points_in_0.01', 'osm_city_closest_dist',
       'osm_city_nearest_name', 'osm_city_nearest_population',
       'osm_crossing_closest_dist', 'osm_crossing_points_in_0.001',
       'osm_crossing_points_in_0.005', 'osm_crossing_points_in_0.0075',
       'osm_crossing_points_in_0.01', 'osm_culture_points_in_0.001',
       'osm_culture_points_in_0.005', 'osm_culture_points_in_0.0075',
       'osm_culture_points_in_0.01', 'osm_finance_points_in_0.001',
       'osm_finance_points_in_0.005', 'osm_finance_points_in_0.0075',
       'osm_finance_points_in_0.01', 'osm_healthcare_points_in_0.005',
       'osm_healthcare_points_in_0.0075', 'osm_healthcare_points_in_0.01',
       'osm_historic_points_in_0.005', 'osm_historic_points_in_0.0075',
       'osm_historic_points_in_0.01', 'osm_hotels_points_in_0.005',
       'osm_hotels_points_in_0.0075', 'osm_hotels_points_in_0.01',
       'osm_leisure_points_in_0.005', 'osm_leisure_points_in_0.0075',
       'osm_leisure_points_in_0.01', 'osm_offices_points_in_0.001',
       'osm_offices_points_in_0.005', 'osm_offices_points_in_0.0075',
       'osm_offices_points_in_0.01', 'osm_shops_points_in_0.001',
       'osm_shops_points_in_0.005', 'osm_shops_points_in_0.0075',
       'osm_shops_points_in_0.01', 'osm_subway_closest_dist',
       'osm_train_stop_closest_dist', 'osm_train_stop_points_in_0.005',
       'osm_train_stop_points_in_0.0075', 'osm_train_stop_points_in_0.01',
       'osm_transport_stop_closest_dist', 'osm_transport_stop_points_in_0.005',
       'osm_transport_stop_points_in_0.0075',
       'osm_transport_stop_points_in_0.01', 'per_square_meter_price',
       'reform_count_of_houses_1000', 'reform_count_of_houses_500',
       'reform_house_population_1000', 'reform_house_population_500',
       'reform_mean_floor_count_1000', 'reform_mean_floor_count_500',
       'reform_mean_year_building_1000', 'reform_mean_year_building_500',
       'region', 'total_square', 'street', 'date', 'realty_type',
       'price_type'],
      dtype='object')

In [11]:
dataset_train.reform_mean_year_building_1000.value_counts()

1963.207547    898
2000.000000    656
2015.000000    612
2016.000000    452
2017.714286    440
              ...
1970.450000      1
1923.595819      1
1966.539474      1
1965.575163      1
1966.734694      1
Name: reform_mean_year_building_1000, Length: 76044, dtype: int64